nav(style="background-color:aliceblue;")
  .container(style="text-align:flex;")
    button(style="background-color:white;margin:.8rem;", onclick="window.location.href='/'") Home
    button(style="background-color:white;margin:.8rem;", onclick="window.location.href='aboutus'") About Us
    button(style="background-color:steelblue;color:white;margin:.8rem;", onclick="window.location.href='application_2020'") 2020 Workshop Application