nav(style="background-color:aliceblue;")
  .container(style="text-align:flex;")
    button(id="splash", style="background-color:white;margin:.8rem;", onclick="window.location.href='/'") Home
    button(id="us", style="background-color:white;margin:.8rem;", onclick="window.location.href='aboutus'") About Us
    button(id="photos", style="background-color:white;margin:.8rem;", onclick="window.location.href='photos'") Photos
    button(id="login", style="background-color:white;margin:.8rem;float:right;", onclick="window.location.href='login'") Login
    //- button(id="application", style="background-color:white;margin:.8rem;", onclick="window.location.href='application_2020'") 2020 Workshop Waitlist