nav(style="background-color:aliceblue;")
  .container(style="text-align:flex;")
    button(id="participantPortal", style="background-color:white;margin:.8rem;", onclick="window.location.href='/participant'") Participant Portal
    button(id="news", style="background-color:white;margin:.8rem;", onclick="window.location.href='/participant/news'") News