nav(style="background-color:aliceblue;")
  .container(style="text-align:flex;")
    button(style="background-color:white;margin:.8rem;", onclick="window.location.href='/admin'") Admin Portal
    button(style="background-color:white;margin:.8rem;", onclick="window.location.href='/application_2020/view'") 2020 Workshop Application Management