doctype html
html(lang="en")
head  
  title Photos
  include ../components/head.pug

body(style="background-color:white")

include ../components/staticnav.pug

br
br

.container(style="text-align:center;")
    .row

        h4 #[b Recent Moments]

        img(src="images/photos/2019_group.jpg", height="90%", width="90%")
        h6 2019 Group Photo 

        br
        br

        img(src="images/photos/andersons.jpg", height="90%", width="90%")
        h6 Left to Right: Lisa, Patty, and Mark Anderson, Keiko Hara, Ralph Kiggell (2019 guest artist and instructor), and Akira "Ron" Takemoto

        br
        br