doctype html
html(lang="en")
head  
  title Mokuhanga Project Space
  include ./head.pug

body
.container
  .row(style="text-align:center;")
    br
    br
    h1 Mokuhanga Project Space
  .row(style="text-align:center;")
    hr
    h4 2020 Workshop Applications
    P Now accepting applications through our #[a(href="registration_2020") online submission portal].
