doctype html
html(lang="en")
head
  title Mokuhanga Login
  include ./head.pug

body

.container
    .row(style="text-align:center;")
        h1 Login Complete
        p You have been provided an access token that expires after one hour, and is removed on closing the browser.
        p Should you need a new token, you may log in again to refresh.
        p Please note that if you press the back button after logging in, you may need to manually refresh the page.