doctype html
html(lang="en")
head
  title Mokuhanga Login
  include ./head.pug

body

.container
    .row(style="text-align:center;")
        h1 Login Failed
        p Please double check your username and password, and try again.
        p If you feel these are correct and still encounter problems, please contact us at info@mokuhangaprojectspace.com