doctype html
html(lang="en")
head  
  title Mokuhanga Project Space
  include ../components/head.pug

body(style="background-color:white")

include ../components/staticnav.pug
script.
    document.getElementById("splash").style.backgroundColor = "steelBlue"
    document.getElementById("splash").style.color = "white"

.container(style="text-align:center;")
  .row
    br
    br
    h1 Mokuhanga Project Space
  
  hr

  .row
    
    h4 #[b 2020 Workshop]

  .row
    h5 Featured Artist
    img(src="images/photos/kitamura.jpg", height="90%", width="90%")
    h6 Our featured guest for the 2020 workshop will be Master carver and printer from Kyoto, Shōichi Kitamura.

  br

  .row
    h5 2020 Application Closed
    p.
      Thank you for applying for our 2020 Mokuhanga Workshop with Kitamura Shōichi sensei.
      We had an enthusiastic response and the workshop filled in 30 minutes.
      We are now accepting applications for people who would like to be #[a(href='application_2020') placed on our waitlist].
      Each year we have two or three people who inform us that they cannot attend and we invite the next person on our list to join us.
  br
  br

  hr

  .row
    em Please feel free to contact us at info@mokuhangaprojectspace.com with any questions or comments you may have.
  
  br
  br