doctype html
html(lang="en")
head  
  title Mokuhanga Project Space
  include ../components/head.pug

body(style="background-color:white")

include ../components/staticnav.pug

.container(style="text-align:center;")
  .row
    br
    br
    h1 Mokuhanga Project Space
  
  hr

  .row
    
    h4 #[b 2020 Workshop]

  .row
    h5 Featured Artist
    img(src="images/photos/kitamura.jpg", height="90%", width="90%")
    h6 Our featured guest for the 2020 workshop will be Master carver and printer from Kyoto, Shōichi Kitamura.

  br

  .row
    h5 Application Notice
    P Our #[a(href="application_2020") online submission portal] opens February 28th at 9:00am Pacific Standard Time.

  br
  br

  hr

  .row
    em Please feel free to contact us at info@mokuhangaprojectspace.com with any questions or comments you may have.
  
  br
  br