head
  title Featured Prints
  include ../components/head.pug

include ../components/staticnav.pug

script.
    document.getElementById("prints").style.backgroundColor = "steelBlue"
    document.getElementById("prints").style.color = "white"

body
  .container
      br
      br

      .row(style="text-align:center;")
        h4 #[b The Water Table]
        img(src="images/prints/waterTable.jpg", height="90%", width="90%")
        h5 Patricia Clark &amp; Kitamura Shoichi

      br

      .row

        p.
            #[b Artist:] Patricia Clark <br>

            Pat has embraced several roles of engagement as an Arts Educator.  Master Printmaker, Professor Emeritus CSU/Long Beach and Founder of Atelier 6000 in Bend Oregon. Most recently the studio A/6 became a part of Bend Art Center, classes,exhibits and residencies are sponsored by the BAC.  Her artistic language of selective seeing and MARK MAKING have engaged a series of environmental themes: A concern of the vanishing landscapes and watersheds in the Northwest the fluctuating and floating WATER TABLE.
        
        p. 
            #[b Master Printer:] Kitamura Shoichi <br>

            A master carver and accomplished printer in Kyoto Japan. He studied contemporary woodblock techniques under Prof. Kurosaki at Kyoto Seika university.  Since then he has apprenticed in traditional Ukiyo-e carving techniques under Tomikichiro Tokuriki and researching it under master carver, Osamu Hotta. He is a member of the Kyoto Woodblock Printmaking Association and vice chair of the Kyoto branch of the Ukiyo-e Printmaking Woodblock Association of Technical Preservation.

        p. 
            #[b Title:]  The water table <br>

            Climate controls the water table and as we are experiencing the melt of the glaciers and envisioning the loss of ocean shore-lines the conversation continues and the question still remains “what about the water table?”

        p. 
            #[b Date:] December 2018

        p. 
            #[b Paper and Paper size:] Echizen Hongusa Torinoko Washi Paper

        p. 
            #[b Image size:] 8.25 x 10.75 inches

        p. 
            #[b Signature:] Lower Right

        p. 
            #[b Edition:] 30, Printer’s Proof 1,  Printer Proof 1

        p. 
            #[b Description:] <br>

            The painted image on paper by Patricia Clark was separated into 15 woodblocks and carved and printed in 24 tones and colors by Mr.Kitamura’s decision. 
