head
  title About Us
  include ../components/head.pug

include ../components/staticnav.pug

.container
    br
    br

    h1(style="text-align:center;") History
    hr

    p The Mokuhanga Project Space, a non-profit organization in Washington State, is directed by Professor Akira Takemoto (Whitman College) with resident artist and Whitman College Professor of Art Emerita, Keiko Hara. Takemoto and Hara have been involved directly and indirectly in various projects that led to the formation of the Mokuhanga Center. The dream to develop a center for Mokuhanga began in the spring of 2014 when they organized the “Abstract American Mokuhanga” exhibit at Whitman College. With the encouragement of Karen Kunc, Hiroki Morinoue, Keiko Kadota, April Vollmer, and Hiroki Satake, they sponsored various mokuhanga events at Whitman College. When Mark Anderson urged them to “share the dream” with Walla Walla, they organized their first workshop at Whitman College in 2016, led by a master printer and artist in New York, Yasu Shibata. Mark Anderson also persuaded them to prepare an exhibit of Shibata-sensei’s work, and he endorsed their idea to bring Yabe Tsuneko, a Sōgetsu flower arranger from Kyōto, and Yoshiyasu Fujii a master calligrapher to enhance the exhibit at the Foundry Gallery. 
    
    p Hara and Takemoto continued to organize workshops and exhibitions by inviting Kitamura Shōichi (2017), Tuula Moilanen (2018), and Ralph Kiggell (2019). Last summer, Takemoto and Lisa Anderson co-curated “Breaking Mokuhanga Boundaries,” an exhibit of nine international mokuhanga artists. In 2017, Shōichi Kitamura collaborated with Pat Clark (Bend Oregon) to create an editioned print called “Water Table.” This year, the Mokuhanga Project Space will sponsor its second editioned print when Kitamura-sensei collaborates with New York artist, Donald Groscost. 
    
    p In June 2018, the Mokuhanga Project Space became an official non-profit organization in Washington State with a Board of Directors, a Secretary, Lynn Seatley, and a treasurer, Mayako Takemoto. In 2019, the organization added an Advisory Committee for Fundraising, and a software and systems engineer, Matt Lou-Magnuson.

    br
    br

    h1(style="text-align:center;") People
    hr

    h3 BOARD MEMBERS

    b Akira Takemoto
    p Professor Akira Takemoto has been teaching classes in Japanese language and traditional Japanese literature and aesthetics at Whitman College since 1983. He currently serves as the Director of Asian and Middle Eastern Studies. He has curated various exhibits of Japanese art, and in 2009, he designed and established a tea room, #[em Chikurakken], that remembers the aesthetics of the #[em Shūkidō] tea room located at the residence of the Grand Master of the Yabunouchi Tradition of Tea in Kyōto where Takemoto trained. In the summer of 2020, Takemoto will transform this space to host the Fifth Summer Woodblock Print Workshop. 

    b Keiko Hara
    p Keiko Hara, Whitman College Professor of Art Emerita, lives and works in Walla Walla, Washington. At Whitman, she taught studio art classes and served as the Chair of the Art Department. Since 1976, she has had over fifty solo exhibitions and has participated in numerous invitational group exhibitions throughout the United States, Europe, and Japan.  Her work is in permanent collections including National Gallery of Art, Art Institute Chicago, Detroit Institute of Arts, Portland Art Museum, Library of Congress, and Jundt Art Museum.  Hara has also received grants from Pollock-Krasner Foundation and Artist Trust of Washington State.

    b Robert B Wight
    p A lover and supporter of the arts, Rob served as Executive Director of Musica Aperta, a Washington D.C.-based performing arts non-profit, and is a Board Member of the Kentler International Drawing Space, Brooklyn, New York.  A founding Board Member of the Mokuhanga Project Space, Rob participated in the Mokuhanga Summer Workshop in 2018 and 2019.  He works at the World Bank and lives in Washington D.C.

    b Mark Giordano
    p Mark Giordano is Professor of Geography and Cinco Hermanos Chair in Environment and International Affair in Georgetown University’s Walsh School of Foreign Service. His research focuses primarily on the international political dimensions of water, agriculture and the environment. He teaches classes on those topics and others including the (in)famous Map of the Modern World. Mark is a founding member of Georgetown’s India Initiative and serves on the Institute for the Study of Diplomacy’s Working Group on the Global Commons. As part of his interest in using objects such as maps and art in international education, he sits is on the Board of Directors of the Kentler International Drawing Center, Brooklyn and the Mokuhanga Project Space, Walla Walla. Prior to joining Georgetown in 2013, Mark held multiple roles at the Sri Lanka based International Water Management Institute and earlier served as a trade economist with the U.S. Department of Agriculture. He has spent a substantial part of his professional life in Asia and Africa and is from Walla Walla. 

    b Lynn B Sealey
    p A retired clinical microbiologist, Lynn moved from Seattle to Walla Walla in early 2013 with her husband, Rand.  With an interest in the visual arts, Lynn soon joined the Walla Walla Art Club, founded in 1898 by pioneer women. In May, 2020, she will finish two years as President of the Art Club.  Lynn eventually met Akira “Ron” Takemoto and Keiko Hara which led to becoming a board member of the Mokuhanga Project Space in August of 2018.

    hr

    h3 ADVISORY COMMITTEE MEMBERS

    b Jessica Cook
    p Jessica Cook is the Executive Director of the Walla Walla Community College Foundation. She fell in love with Walla Walla skies as a Whitman student (Class of 2000) and, in 2011, came back with her family to stay. By day, she a non-profit executive and fundraiser who believes deeply in the power and importance of education, philanthropy, and art. On nights and weekends, she is a wheat land vista-admirer and a natural dyer/fiber artist. She is also wife to Paul Good of Farris Engraving and mom to two strong-willed girls, both Berney Bulldogs.

    b Jock Edwards
    p A local Walla Wallan, who was privileged to be able to return home to support local community initiatives, such as the Mokuhanga Project Space.  A career that spanned real estate development, mortgage banking, savings and loan industry, commercial real estate appraising, philanthropy, and tennis – which thankfully introduced me to Akira sensei and his vision to share Japanese culture.

    b Kevin Scribner
    p Kevin Scribner has extensive experience in natural resource planning and management, community cultural development, alternative food systems, ecological restoration and commercial fishing. Kevin commercially fished for salmon in the Pacific Northwest and Bristol Bay, Alaska from 1976 to 1996. He is developing Forever Wild Seafood, an e-commerce seafood business, and its companion non-profit, the Forever Wild Fund. Kevin is a volunteer with the nation-wide Slow Fish USA movement, and serves on the Slow Food USA Policy Steering Committee and the Slow Food Equity, Inclusion and Justice (EIJ) Working Group. Kevin serves on the Policy Council of the Marine Fish Conservation Network, and works with Salmon-Safe, a third-party certifier of fish-supporting land management practices. Kevin represents Salmon-Safe on the Columbia Basin Partnership Task Force, serving alongside representatives from many Pacific Northwest Tribes and stakeholders from river-dependent communities. Kevin calls Walla Walla, Washington, home.  He is the Managing Partner of Kooskooskie Fish LLC.

    hr

    h3 SOFTWARE AND SYSTEMS

    b Dr. Matthew Lou-Magnuson
    p Matt is 2007 Whitman graduate and former pupil of Professor Takemoto. At Whitman, he studied Japanese arts and language, and served as RA of the Japanese Interest House, #[em Tekisuijuku]. He holds BA and MA degrees in Asian Studies from Whitman College and the University of Hawaiʻi at Mānoa, respectively, and a PhD in Linguistics and Multilingual Studies from Nanyang Technological University, Singapore. He works actively as a cognitive scientist, and software engineer for Base2 Solutions in Bellevue, WA.

