doctype html
html(lang="en")
head
  title Workshop News
  include ../components/head.pug

include ../components/staticnav_participant.pug

script.
    document.getElementById("news").style.backgroundColor = "steelBlue"
    document.getElementById("news").style.color = "white"

br
br

.container(style="text-align:center;")
    .row
        h1 2020 Workshop News
        hr
