head
    include ../components/head

body

include ../components/staticnav_participant

script.
    document.getElementById("participantPortal").style.backgroundColor = "steelBlue"
    document.getElementById("participantPortal").style.color = "white"
br
br

.container(style="text-align:center")
    .row
        h1 Welcome to the 2020 Participant Portal
    
    hr

    .row
        h3 #[u Recent News]
        
        br