doctype html
html(lang="en")
head  
  title Application Complete
  include ../components/head.pug

body
.container
    .row
        h1 Application Complete
        p The appliaction for #{name} has been successfully transmitted. 
        p You will recieve a confirmation email shortly at the address provided in your application.