doctype html
html(lang="en")
head
  title 2020 Workshop Waitlist
  include ../components/head.pug

include ../components/staticnav.pug

script.
    document.getElementById("application").style.backgroundColor = "steelBlue"
    document.getElementById("application").style.color = "white"

br
br

.container
    .row(style="text-align:center;")
        h1 2020 Workshop Waitlist

        hr

        h5 #[b Information and Fee]

        ul
            li The 2020 Workshop, organized by Akira Takemoto and Keiko Hara, will welcome master carver Shōichi Kitamura from Kyoto, Japan.  Kitamura sensei will demonstrate basic, advanced, and professional techniques each day. 
            li The fee for the work will be $550.  If accepted, instructions for workshop payments and information about supplies will follow.
            li This form will put you on the waitlist for future spots, should they open up.

        hr

    if locals.open

        form(name="application" action="/application_2020" method="post" onsubmit="return validateApplication()")
            .row
                .six.columns
                    label Name
                    input.u-full-width(type="text" name="name")

                .six.columns
                    label E-Mail
                    input.u-full-width(type="text" name="email")
            .row
                .ten.columns
                    label Street Address
                    input.u-full-width(type="text" name="address")
            .row
                .six.columns
                    label City
                    input.u-full-width(type="text" name="city")

                .two.columns
                    label State
                    input.u-full-width(type="text" name="state")
                .four.columns
                    label Zip Code
                    input.u-full-width(type="text" name="zip")
            .row
                hr
                label Previous Experience
                p.
                    Please tell us about previous experiences in Mokuhanga or in Mokuhanga workshops that you have attended (where, when, primary instructor):
                textarea.u-full-width(type="text" style="height:40vh;" rows=10 name="experience")

                label Questions and Comments
                p.
                    If you have any questions or comments, please feel free to relay them below:
                textarea.u-full-width(type="text" style="height:40vh;" rows=10 name="questions")

            .row
                button.button-primary.u-full-width(type="submit" style="text-align:center;") Submit

    else
        .container
            .row(style="text-align:center;")
                h3 Application will open February 28th, 2020 at 9:00am Pacific Standard Time

script. 
    function validateApplication() {
        const application = document.forms.application
        let values = {}
        for (el of application) {
            values[el.name] = el.value
        }
        const { name, email, address, city, state, zip } = values

        const hasAddress = 
            address != "" &&
            city != "" &&
            state != "" &&
            zip  != ""

        const hasValidEmail = email != "" && email.includes("@")

        if (!hasValidEmail) { 
            alert("Please enter a valid email address.")
            return false
        }

        const hasName = name != ""
        const canContact = hasName && (hasValidEmail || hasAddress)
        
        if (canContact) {
            return true
        }
        
        else {
            alert("Please make sure you have completely filled out the form. If you have any questions please mail them to info@mokuhangaprojectspace.com to alert our IT staff.")
            return false
        }
    }