name: Secrets
on: [push]
jobs:
  Build:
    runs-on: self-hosted
    steps:
      - name: Import Secrets
        uses: hashicorp/vault-action@v2.3.0
        with:
          url: https://mokuhangaprojectspace.com:8200
          method: github
          githubToken: ${{ secrets.PERSONALBOTTOKEN }}
          secrets: |
              kv/linode user | SERVERUSER;
              kv/linode pwd | SERVERPWD;
      - run: docker image build -t mps:test .
      - run: docker container stop mps || true ;docker container rm mps || true;
      - run: > 
          docker container run -d --name mps
          -p 8080:80
          -e USERPWD="MATTSHACK" mps:test