name: Secrets
on: [push]
jobs:
  GetSecrets:
    runs-on: self-hosted
    steps:
      - name: Import Secrets
        uses: hashicorp/vault-action@v2.3.0
        with:
          url: https://mokuhangaprojectspace.com:8200
          method: github
          githubToken: ${{ secrets.PERSONALBOTTOKEN }}
          secrets: |
              kv/linode user | SERVERUSER;
              kv/linode pwd | SERVERPWD;
      - run: touch test.txt;
      - run: echo $SERVERPWD >> test.txt